body {
  background-color: rgb(247, 240, 237);
}

h1 {
  padding-top: 10px;
  text-align: center;
  height: 70px;
  background-color: skyblue;
  background-image: linear-gradient(to right, blue, darkblue);
  color: white;
  text-shadow: 2px 1px grey;
}

#current-weather {
  background-color: rgb(243, 240, 229);
}

.col-md-2 {
  background-color: skyblue;
}

.col-lg-3 {
  background-color: rgb(238, 235, 235);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#img {
  background-color: lightblue;
}

.col-md-12 {
  margin: 20px;
}

@media (min-width: 768px) .col-lg-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
